casttube==0.2.0
certifi==2019.6.16
chardet==3.0.4
idna==2.8
ifaddr==0.1.6
protobuf==3.9.1
PyChromecast==3.2.3
requests==2.22.0
six==1.12.0
spotify-token==0.1.0
-e git://github.com/plamere/spotipy.git@4c2c1d763a3653aa225c4af848409ec31286a6bf#egg=spotipy
urllib3==1.25.3
zeroconf==0.23.0
